@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    height: 100vh;
}


/* HERO Section */
.hero{
    background-color: #1f2937;
    padding: 10px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
}

.links{
    display: flex;

    font-size: 18px;
    color: #e5e7eb;
    
}

li{
    list-style-type: none;
    margin-left: 20px;
}

.hero-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    
    
}

.hero-title{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    
}

.hero-description{
    font-size: 18px;
    color: #e5e7eb;
}

.button{
    margin: 5px;
    background-color:#3882F6;
    border-radius: 5px;
    border-color: #3882F6;
    padding:3px 20px 3px 20px ;
    color: #e5e7eb;
    
}

/* Info-section */

.info-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap:50px;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    
}

.info-content{
display: flex;
flex-wrap: wrap;
gap: 50px;

}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-image{
border: 5px solid #3882F6;
border-radius: 10px;
width:200px;
height:200px;    
}

.card-text{
    margin:5px 0px ;
    width: 200px;
}

/* Quote section */

.quote-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}

.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.credits{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: end;
}

/* action section */

.action-section{
    display: flex;
    justify-content: space-around;
    margin: 100px 400px;
    background-color: #3882F6;
    padding: 20px;
    color: #e5e7eb;
    border-radius: 5px;
}

.action-container{
    margin:20px;
}

.action-header{
    font-size: large;
    font-weight: bold;
}

.action-button{
    margin: 5px;
    background-color:#3882F6;
    border-radius: 5px;
    border-color: #3882F6;
    padding:3px 40px 3px 40px ;
    color: #e5e7eb;
    border:2px solid #e5e7eb;
}

/* footer */
.footer{
    text-align: center;
    background-color: #1f2937;
    padding: 30px ;
    color: #e5e7eb;
    
}